$clear-black: #000000;
$background-color: #fccc49;
$background-color-tracker: #f8f3da;
$background-color-recommendations: rgb(241,193,130);
$clear-cherrywood: #6A1616;
$clear-springwood: rgb(250,245,244);
$clear-lightred: #FF474C;
$clear-roofTerracota: #AC2B22;
$background-library: #FFF2DD;